.sidenav-container{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .view-is-mobile .nav-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  
  h1.nav{
    margin-left: 8px;
  }
  
  .flex-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }
  
  .view-is-mobile .flex-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }
  
  .footer {
      position: sticky;
      bottom: 0;
      width: 100%;
      height: 32px;
      font-size: 12px;
      z-index: 2;
  }
  
  .footer .badges {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      padding-top: 12px;
  }
  
  .footer .icon {
      width: 12px;
      height: 12px;
      font-size: 12px;
      line-height: 12px;
  }
  
  .footer .version {
      text-align: left;
  }
  
  .footer .copyright {
      text-align: center;
      margin: auto;
  }
  
  .footer .license {
      text-align: right;
  }
  
   
  
  
  