<div class="containor">
  <h3>MODEL DIRECTORY</h3>
</div>
<mat-grid-list cols="4" rowHeight="376px">
  <mat-grid-tile>
    <mat-card class="card-container" id="card9">
      <mat-card-header>

        <mat-card-title>MODELS A-F</mat-card-title>
        <mat-card-subtitle>Find Your Favorite Star Here</mat-card-subtitle>
      </mat-card-header>
      <div class="mdc-card__actions">
        <button><a href="MODELS A-F">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRNwTEsS3n6m0T_Hisfy1DIoNNx-C7FqUGbw3HFCRteDflDrKD">
          </a></button>
      </div>
      <mat-card-content>
        <p>

        </p>

      </mat-card-content>
      <img mat-card-image>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="card-container" id="card10">
      <mat-card-header>

        <mat-card-title>MODELS G-L</mat-card-title>
        <mat-card-subtitle>Find Your Favorite Star Here</mat-card-subtitle>
      </mat-card-header>
      <div class="mdc-card__actions">
        <button><a href="MODELS G-L">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRNwTEsS3n6m0T_Hisfy1DIoNNx-C7FqUGbw3HFCRteDflDrKD">
          </a></button>
      </div>
      <mat-card-content>
        <p>

        </p>

      </mat-card-content>
      <img mat-card-image>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="card-container" id="card11">
      <mat-card-header>

        <mat-card-title>MODELS M-R</mat-card-title>
        <mat-card-subtitle>Find Your Favorite Star Here</mat-card-subtitle>
      </mat-card-header>
      <div class="mdc-card__actions">
        <button><a href="MODELS M-R">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRNwTEsS3n6m0T_Hisfy1DIoNNx-C7FqUGbw3HFCRteDflDrKD">
          </a></button>
      </div>
      <mat-card-content>
        <p>

        </p>

      </mat-card-content>
      <img mat-card-image>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="card-container" id="card12">
      <mat-card-header>

        <mat-card-title>MODELS S-Z</mat-card-title>
        <mat-card-subtitle>Find Your Favorite Star Here</mat-card-subtitle>
      </mat-card-header>
      <div class="mdc-card__actions">
        <button><a href="MODELS S-Z">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRNwTEsS3n6m0T_Hisfy1DIoNNx-C7FqUGbw3HFCRteDflDrKD">
          </a></button>
      </div>
      <mat-card-content>
        <p>

        </p>

      </mat-card-content>
      <img mat-card-image>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>