.my-card {
    height: 344px;
    width: 370px;
  }
  .my-card__media {
    background-image: url("https://247sports.com/nba/golden-state-warriors/Video/hot-sexy-girls-in-bikinis-181283/?View=Full");
  }